<h1>Listing ICD Code</h1>

<div id="icd_codes"></div>
<script type="text/javascript" charset="utf-8">
  
  $(document).ready(function() {
    $("#icd_codes").jTable({
      width: '100%',
      serverSidePagination: true,
      singleColumnSearch: true,
      indexUrl: "/icd_codes.json",
      viewUrl: "/icd_codes/:id:",
      editUrl: "/icd_codes/:id:/edit",
      destroyUrl: "/icd_codes/:id:.js",
      columns: [
        {heading: 'Identifier', attribute: 'identifier', columnClass: 'center'},
        {heading: 'Short Description', attribute: 'short_description'},
        {heading: 'Full Description', attribute: 'description'},
        {heading: 'Code Type', attribute: 'code_type', columnClass: 'center'},
        {heading: 'MCC', attribute: 'mcc', dataType: 'boolean', trueValue: 'Yes', falseValue: 'No', columnClass: 'center'},
        {heading: 'CC', attribute: 'cc', dataType: 'boolean', trueValue: 'Yes', falseValue: 'No', columnClass: 'center'},
        {heading: 'Activation Date', attribute: 'activated', columnClass: 'center'},
        {heading: 'Deactivation Date', attribute: 'deactivated', columnClass: 'center'}
      ]
    })
  })
</script>

<%= link_to 'New ICD Code', new_icd_code_path %>
