<h1>Listing widgets</h1>

<p>
  <%= link_to "Server Side", widgets_path %>
</p>

<h2>Mostly Server Side Except Client Side Pagination</h2>
<div id="widgets"></div>
<script type="text/javascript" charset="utf-8">
  $("#widgets").jTable({
    width: '100%',
    indexUrl: "/widgets/client_side.json",
    editUrl: "/widgets/:identifier/edit",
    destroyUrl: "/widgets/:identifier.js",
    columns: [
      {heading: 'ID', attribute: 'id', columnClass: 'right', searchable: false},
      {heading: 'Name', attribute: 'name', columnClass: 'left'},
      {heading: 'Content', attribute: 'content', columnClass: 'left'},
      {heading: 'Test 1', attribute: 'test_1', columnClass: 'center', dataType: 'boolean'},
      {attribute: 'test_2', searchable: false, sortable: false, columnClass: 'right'},
      {heading: 'Column 1', attribute: 'column_1', sortable: false},
      {heading: 'Column 2', attribute: 'column_2'},
      {heading: 'Column 3', attribute: 'column_3'},
      {heading: 'Column 4', attribute: 'column_4', sortable: false}
    ]
  })
</script>

<br />
<%= link_to 'New Widget', new_widget_path %>