<h1>Listing widgets</h1>

<h2>All Server Side</h2>
<div id="widgets1"></div>
<script type="text/javascript" charset="utf-8">
  $("#widgets1").jTable({
    width: '700px',
    serverSidePagination: true,
    indexUrl: "/widgets.json",
    editUrl: "/widgets/:identifier/edit",
    destroyUrl: "/widgets/:identifier.js",
    columns: [
      {heading: 'ID', attribute: 'id', columnClass: 'center'},
      {heading: 'Name', attribute: 'name', columnClass: 'left'},
      {heading: 'Content', attribute: 'content', columnClass: 'left'},
      {heading: 'Test 1', attribute: 'test_1', columnClass: 'center', dataType: 'boolean', trueValue: 'Yes', falseValue: 'No'},
      {attribute: 'test_2', searchable: false, sortable: false, columnClass: 'right'}
    ]
  })
</script>
<br /><br /><br />

<h2>Mostly Server Side Except Client Side Pagination</h2>
<div id="widgets2"></div>
<script type="text/javascript" charset="utf-8">
  $("#widgets2").jTable({
    width: '700px',
    indexUrl: "/widgets.json",
    editUrl: "/widgets/:identifier/edit",
    destroyUrl: "/widgets/:identifier.js",
    columns: [
      {heading: 'ID', attribute: 'id', columnClass: 'center'},
      {heading: 'Name', attribute: 'name', columnClass: 'left'},
      {heading: 'Content', attribute: 'content', columnClass: 'left'},
      {heading: 'Test 1', attribute: 'test_1', columnClass: 'center', dataType: 'boolean', trueValue: 'Yes', falseValue: 'No'},
      {attribute: 'test_2', searchable: false, sortable: false, columnClass: 'right'}
    ]
  })
</script>


<br />
<%= link_to 'New Widget', new_widget_path %>